.navbar{
    height: 10vh;
    /* background: black ; */
    color: aliceblue;
    justify-content: center;
    align-items: center;
}
.navbar2{
    height: 8vh;
    /* background: black ; */
    justify-content: center;
    align-items: center;
    box-shadow: 3px 3px 10px 6px rgb(0,0,0,0.06);
    padding: 10px;
}
.navbar img{
    margin-right: 2rem;
}
.serach_option_bar{
    width: 500px;
    /* border: 1px solid black; */
    border-radius: 5px;
}
.search_button{
    background-color:#fc5d51;
    border: none;
    border-radius: 5px;
    height: 30px;
    width: 100px;
    cursor: pointer;
    margin-right: 2rem;
}
.log_button{
    background-color:#fc6055;
    border: none;
    border-radius: 5px;
    height: 30px;
    width: 100px;
    cursor: pointer;
}
.navbar2 .nav-items{
    display: flex;
    list-style-type:none;
    text-align: center;
    justify-content: center;
    /* width: 70vw; */
    margin-right: 2rem;
}
.navbar2 .nav-item{
    display: flex;
    align-items: center;
}
.navbar2 .nav-item a{
    text-decoration: none;
    margin-right: 2rem;
    color: black;
}

/* Dropdown option */

.dropdown{
    width:200px;
    /* margin: 100px auto; */
    position: relative;
    user-select: none;
    height: 30px;
    
}
.dropdown .dropdown_button{
    padding: 3px;
    border: 1px solid black;
    border-radius: 5px;
    font-weight: bold;
    color: gray;
    display: flex;
    align-items: center;
    margin-right: 2rem;
    /* justify-content: space-between; */
}
.dropdown .dropdown-content{
    position: absolute;
    top:110%;
    left: 0;
    padding: 10px;
    background:black;
    border: 1px solid black;
    font-weight: bold;
    color: beige;
    width: 95%;
}
.dropdown .dropdown-content .dropdown-item{
  padding: 10px;
  cursor: pointer;
  transition: all 0.2s;
}

